@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
    font-family: 'Roboto', sans-serif;
}

body {
    max-width: 1280px;
    max-height: 900px;
}

.main-content {
    position: relative;
    z-index: 1;
    margin: 80px;
    padding-bottom: 20rem;
   
}

.main-content h1 {
    font-size: 40px;
    font-weight: 300;
    text-align: center;
}

.main-content p {
    font-size: 20px;
    font-weight: 100;
    line-height: 30px;
}

.main-content__button {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    height: 3.5rem;
    width: 8rem;
    background-color: rgb(42, 100, 185);
    color: white;
    border: solid 1px white;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: 100;
    transition-duration: 0.3s;
}

.main-content__button:hover {
    background-color: rgb(23, 55, 104);
}