@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    font: 105%/1.5 'Roboto', sans-serif;
    font-weight: 100;
}

body {
    max-width: 1280px;
    padding-bottom: 20rem;
    margin: auto;
    padding-left: 10%;
    padding-right: 10%;
}

body.modal_open {
    overflow: hidden;
}

h1 {
    font-size: 2.5em;
    margin-block-start: 2.5em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 300;
}

p {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    display: block;
    font-weight: 100;
}

button {
    outline: none;
    cursor: pointer;
    font-size: 2rem;
    height: auto;
    max-width: 100%;
    background-color: rgb(45, 129, 255);
    color: white;
    border-radius: 0.4rem;
    border: none;
    transition-duration: 0.3s;
    padding: 5px 20px 5px 20px;
    margin-block-end: 2rem;
    margin-inline-end: 0px;
}

button:hover {
    background-color: rgb(32, 77, 143);
}


.modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.modal {
    background: white;
    width: 40rem;
    height: auto;
    border-radius: 1rem;
    padding-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.modal-header {
    margin-block-end: 1rem;
    margin-inline-end: 0;
    font-size: 2rem;
    font-weight: 300;
}

.modal-content {
    font-weight: 100;
    margin-bottom: 2rem;

}

.main-content {
    margin-block-end: 3rem;
    margin-inline-end: 0;
}

.main-content__button {
    text-align: center;
}
